<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pokemon.description %>
</p>

<p>
  <strong>Url image:</strong>
  <%= @pokemon.url_image %>
</p>

<p>
  <strong>Abilities:</strong>
  <%= @pokemon.abilities %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
